body {
    font-family: 'Lato', 'Helvetica', 'Helvetica Neue', 'Trebuchet MS', 'sans-serif';
}

.container {
    text-align: center;
    padding-top: 10px;
}

.button-group-container {
    text-align: center;
}

.button-container {
    padding-top: 1em;
}

.form-group {
    color: black;
}

.footer-container {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}
a:hover {
    color: slategrey;
    text-decoration: none;
}

#link-me {
    padding-right: 10px;
}

#link-em {
    padding-left: 10px;
}

.section-header {
    text-align: center;
}

#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
}

#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
}

#canvas {
    display:none;
}

.camera {
    width: 340px;
    display:inline-block;
}

.output {
    width: 340px;
    display:inline-block;
}

#startbutton {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    bottom:32px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
}

.contentarea {
    font-size: 16px;
    width: 760px;
}

#nav {
    background-color: #3A5795;
    width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
}

pre {
    text-align: left;
    display: inline-block;
}

#nav > h1 {
    padding-left: 1em;
    color: white;
    font-weight: 300;
}

.small-text {
    padding-top: 1em;

}

#status-entry {
    position: relative;
    width: 500px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: medium none #D4DAE8;
    background: #D4DAE8 none repeat scroll 0% 0%;
}

#post-button-container {

}

#post-button {
    background-color: #3A5795;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
    border: medium none #3A5795;
}

#second-results {
    text-align:center;
}

#feels-png {
    display:inline-block;
}