<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Project</title>
</head>

<body>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
    <div class='footer-container'>
        <a id='link-me' href="https://github.com/rainiera/" target="_blank">me</a>
        <a id='link-em' href="/reset">reset session</a>
    </div>
</body>

</html>
